:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy: #2e2f42;
  --green: #31ddaa;
  --slate: #434455;
  --light: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.main-header {
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  color: var(--white);
}

.header-2 {
  font-size: 36px;
}

.header-3,
.header-card {
  font-weight: 500;
  font-size: 20px;
  color: var(--navy);
}

ul {
  list-style-type: none;
}

.desc {
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: 0.02em;
  text-align: left;
}

.small {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.04em;
}

.medium {
  font-weight: 500;
}

.button-text {
  font-weight: 500;
  letter-spacing: 0.04em;
}

a {
  font-family: inherit;
  font-size: 12px;
  line-height: inherit;
  letter-spacing: 0.04em;
  text-decoration: none;
  cursor: pointer;
}

.invisible {
  display: none;;
}

header {
  border-bottom: 1px solid var(--white);
}

.web,
.footer-text > a {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.web > span {
  color: var(--navy);
}

.web > .studio,
.foot-info {
  color: var(--cloud);
}

.web {
  color: var(--iris);
}

.main-section {
  /* background-image: url("../images/people-office.png"); */
  background-color: var(--navy);
}

.medium {
  font-size: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--navy);
}

.medium:hover,
.email:hover,
.tel:hover,
.medium.active {
  color: var(--ocean);
}

.email,
.tel {
  color: inherit;
  font-size: inherit;
  font-style: normal;
}

button {
  padding: 12px 24px 12px 24px;
  border-radius: 4px;
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  font-family: inherit;
  font-size: 16px;
  color: var(--iris);
}

button.active {
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px #00000026;
  color: var(--white);
}

button:hover {
  background: var(--ocean);
  box-shadow: 0px 4px 4px 0px #00000026;
  color: var(--white);
}

img {
  width: 360px;
  height: 300px;
}

.team-member {
  width: 264px;
  height: 260px;
}

footer {
  background-color: var(--navy);
}

.footer-text {
  max-width: 264px;
  font-family: inherit;
}

.team-section {
  background-color: var(--cloud);
}

.team-card {
  background-color: var(--white);
}
